/* -------------------- Global -------------------- */

/* Color palette from: https://colorhunt.co/palette/527853f9e8d9f7b787ee7214 */
/*:root {
  --primary: #527853;
  --secondary: #f9e8d9;
  --tertiary: #f7b787;
  --accent: #ee7214;
}*/

/* Color palette from: https://colorhunt.co/palette/f9b57299b080748e63faf8ed */
:root {
  --primary: #f9b572;
  --secondary: #99b080;
  --tertiary: #748e63;
  --accent: #faf8ed;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}  

h2 {
  padding: 10px;
}

p {
  font-size: 0.9rem;
}

main {
  background-color: var(--secondary);
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 66% 34%;
  background-color: #f0f0f1;
}

/* -------------------- Tags -------------------- */
.tag {
  font-size: 0.8rem;
  color: var(--accent);
  background-color: var(--tertiary);
  border-radius: 3px;
  padding: 2px 3px 2px 3px;
}

.semester p {
  padding: 4px;
  border-radius: 3px;
}

.semester p:hover {
  background-color: var(--primary);
}

/* -------------------- Buttons -------------------- */
.btn {
  background-color: var(--primary);
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--secondary);
  color: #f0f0f1;
}

/* -------------------- Header -------------------- */
header {
  display: grid;
  grid-template-columns: 35% 30% 35%;
  background-color: var(--primary);
  padding: 20px;
}

.logo {
  text-align: center;
}

.headerP {
  display: inline-block;
}

.personal {
  display: grid;
  grid-template-columns: 40% auto;
  align-content: center;
}

.controls {
  display: flex;
  flex-direction: row-reverse;
}

.options {
  display: none;
}

/* -------------------- Main -------------------- */
.main {
  padding: 5px;
}

/* -------------------- Requirements -------------------- */
#requirements {
  background-color: #f0f0f1;
  text-align: left;
  color: black;
}

.req {
  color: var(--primary);
  background-color: var(--tertiary);
  cursor: pointer;
  margin: 5px;
  border-radius: 0.3em;
  padding: 5px;
  padding-left: 10px;
}

/* -------------------- Plan -------------------- */
.plan-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow-y: auto;
  grid-template-rows: auto;
  padding: 5px;
  padding-top: 0px; /* so it aligns with requirements */
  text-align: left;
  color: black;
}

.semester {
  border: var(--secondary) solid 1px;
  border-radius: 0.3em;
  background-color: white;
  padding: 5px;
  margin: 5px;
}

.semester p, .semester h3 {
  margin-left: 5px;
}

/* -------------------- Course Finder -------------------- */
#course-finder > p {
  color: red;
  margin-left: 10px;;
}

.searchBar {
  display: inline-flex;
  margin-left: 50%;
}
