@font-face {
    font-family: "Tangerine";
    src: url("fonts/Tangerine/Tangerine-Regular.ttf");
}

@font-face {
    font-family: "Noto Serif Header";
    src: url("fonts/Noto_Serif/NotoSerif-VariableFont_wdth\,wght.ttf");
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

@font-face {
    font-family: "Noto Serif";
    src: url("fonts/Noto_Serif/NotoSerif-VariableFont_wdth\,wght.ttf");
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 150;
}

:root {
  --bg: #30475E;
  --writing: #f0c863;
  text-align: center;
}

h1 {
    margin-top: 4rem;
    margin-bottom: 0.75rem;
    font-family: tangerine;
    font-size: 3rem;
    text-align: center;
    color: var(--writing)
}

h2 {
    font-family: "Noto Serif Header";
    font-size: 3rem;
    color: var(--writing);
    margin-top: 0px;
}

/* Taken at 150% */
img {
    max-width: 90%;
    max-height: 90%;
    margin-top: 1.5rem;
    border-radius: 0.4rem;
}

p {
    font-family: "Noto Serif";
    font-size: 1.5rem;
    color: var(--writing);
}

.preview p {
    font-family: tangerine;
    font-size: 1.75rem;
}

body {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    flex-wrap: wrap;
    height: 95vh;
    display: flex;
    margin: 1%; 
}

.page {
    flex-grow: 1;
    background-color: var(--bg);
    width: 40%;
    margin: 1rem;
}

.recipes {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 2rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

.recipe {
    background-color: var(--bg);
    border: var(--writing) solid 1px;
    border-radius: 0.6rem;
    margin: 0.5rem;
}

button:hover {
    border: var(--writing) solid 2px;
    background-color: #385672;
    cursor: pointer;
}
