/* -------------------- Global -------------------- */

/* Color palette from: https://colorhunt.co/palette/f9b57299b080748e63faf8ed */
:root {
  --primary: #f9b572;
  --secondary: #99b080;
  --tertiary: #748e63;
  --accent: #faf8ed;
}

* {
  font-family: "Fira Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* -------------------- Header -------------------- */
header {
  display: grid;
  grid-template-columns: 35% 30% 35%;
  background-color: var(--primary);
  padding: 20px;
}

header h1 {
  text-align: center;
  font-size: 2.3rem;
}

#personal {
  display: grid;
  grid-template-columns: 40% auto;
  align-content: center;
}

#personal p {
  margin: 3px;
}

.controls {
  display: flex;
  flex-direction: row-reverse;
}

/* -------------------- Tags -------------------- */
.tag {
  font-size: 0.8rem;
  color: var(--accent);
  background-color: var(--tertiary);
  border-radius: 3px;
  padding: 2px 3px 2px 3px;
}

.semester p {
  padding: 4px;
  border-radius: 3px;
}

.semester p:hover {
  background-color: var(--primary);
}

/* -------------------- Buttons -------------------- */
.btn {
  display: inline-block;
  color: rgb(0, 0, 0);
  background-color: var(--primary);
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 4px;
  cursor: pointer;
}

.btn:hover {
  color: var(--accent);
  background-color: var(--secondary);
}

/* -------------------- Main -------------------- */
main {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 70% 30%;
  margin: 4px;
  height: 85vh;
}

main > div {
  background-color: #f0f0f1;
  margin: 4px;
  padding: 0.7rem;
  border-radius: 0.5rem;
}

p {
  font-size: 0.9rem;
}

/* -------------------- Requirements -------------------- */
#requirements {
  overflow: scroll;
}

#requirements h3 {
  color: var(--accent);
  background-color: var(--tertiary);
  border-radius: 0.3em;
  padding: 5px;
  padding-left: 10px;
  margin: 5px 0px;
}

/* -------------------- Plan -------------------- */
.plan {
  overflow: scroll;
}

.plan-info {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-content: center;
}

.plan-info h2 {
  margin-left: 5px;
}

.plan-info p {
  margin-right: 10px;
}

.plan-info span {
  margin-left: 10px;
}

.plan-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  color: black;
}

.semester {
  border: var(--secondary) solid 1px;
  border-radius: 0.3em;
  background-color: white;
  padding: 5px;
  margin: 5px;
}

.semester h3 {
  margin-left: 4px;
}

.semester p {
  cursor: pointer;
}

/* -------------------- Course Finder -------------------- */
.course-finder h2, 
.course-finder p, 
.course-finder input {
  display: inline;
}

.searchBar {
  /* display: inline-flex; */
  margin-left: 10px;
}

input:invalid {
  color: firebrick;
}

input:valid {
  color: black;
}

.error {
  color: red; 
  display: none;
}